@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600;700&family=Mukta&family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  font-family: "Montserrat";
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7.2rem;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  color: silver;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  font-weight: 800;
  font-size: 20px;
}

.nav-links li a:hover {
  color: silver;
}

button {
  padding: 9px 25px;
  background-color: #b65fad;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: silver;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #b65fad;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}

.containerShoes {
  display: flex;
  padding: 5px;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  margin-top: 2rem;
}
.shoe {
  width: 100%;
}
.shoe,
.nd {
  background: linear-gradient(70deg, #b65fad, #f8f8ff);
  width: 200px;
  margin: 40px;
  border-radius: 10%;
}
.nd {
  width: 200px;
  height: 100px;
  border: whitesmoke solid 1px;
}

#text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 25px;
}

.contactShoe {
  display: flex;
  justify-content: center;
}

.contactShoe button {
  background-color: rgb(104, 15, 77);
  margin-bottom: 20px;
}

.contactShoe button:hover {
  background-color: silver;
}

.titleContainer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 2rem;
}

.titleContainer h1 {
  color: black;
}

.underShoesTitles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.underShoesTitles h1 {
  text-transform: uppercase;
  font-family: "Hind Madurai", sans-serif;
  font-size: 40px;
}

#descriptionUnderTitle {
  margin-top: 20px;
  font-weight: 400;
}

.underShoesTitles a button {
  margin-top: 40px;
}

.betterhumanity {
  display: flex;
  justify-content: space-between;
}

.betterhumanity :nth-child(n) {
  padding: 0.3rem;
  font-weight: 800;
  font-size: 20px;
}

.shoppingCart {
  width: 25px;
  position: absolute;
  right: 20%;
}

#searchbar {
  margin-top: 2rem;
  margin-left: 15%;
  padding: 15px;
  border-radius: 10px;
}

input[type="text"] {
  width: 70%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 100% */

#list {
  font-size: 1.5em;
}

.animals {
  display: list-item;
}

ol#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sneakers {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
