@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
} 

header {
    background-color: #24262b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10%;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: darkred;
}

button {
    padding: 9px 25px;
    background-color: #e91e63;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: gold;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
} 

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300 ;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease ;
}

.footer-col ul li a:hover {
  color:#ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff; 
  transition: all 0.3s ease;
}

.shoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


